.upload-wrapper{
	
}

a{
	text-decoration: none;
	color: #666;
}

.upload-header{
	
}

.upload-body{
	
}

ul.uploadList , ul.uploadList li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.uploadList .uploadList-item{
	width: 100%;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	outline: 1px solid #f00;
	margin-bottom: 10px;
}

.choose-icon{
	font-size: 40px;
}

.uploadList .uploadList-item a, .uploadList .uploadList-item span{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

.uploadList .uploadList-item a.start{
	padding: 0 5px 0 20px;
	font-size: 30px;
}

.uploadList .uploadList-item a.stop{
	padding: 0 5px;
	font-size: 12px;
}

.uploadList .uploadList-item span.progress{
	width: 200px;
	height: 20px;
	background-color: rgba(99,99,99, 0.5);
	margin: 0 15px;
	position: relative;
}

.uploadList .uploadList-item span.indicator{
	height: 20px;
	width: 0;
	background-color: rgba(11,54,251, 1);
}

.filechoose{
	transform: translateX(-10000px);
}

.uploadList .uploadList-item span.finished{
	margin: 0 0 0 15px;
	color: #0000ff;
	font-weight: bold;
}

.uploadList .uploadList-item span.hide{
	display: none;
}

.upload-footer{
	
}